*{
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  cursor: pointer;
 flex-wrap: wrap;
 width: 100%;
 
}

.logo {
  width: 100px;
  height: 60px;
  margin: 12px;
}
.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  font-size: 20px;
}
.filter-btn {
  padding: 10px;
  margin:10px;
  cursor: pointer;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
 
 
}

.res-card {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange items vertically */
  width: 400px;
  border: 1px solid white;
  padding: 8px;
  background-color: #9AD0C2;
  margin: 15px;
  border-radius: 5px;
  transition: transform 0.31s ease; /* Add transition effect to transform property */
}

.res-card:hover {
  
  transform: scale(1.05); /* Increase the size on hover */
  
}


.res-logo {
  width: 100%; /* Set width to fill its container */
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image fills its container while preserving aspect ratio */
  margin-bottom: 8px; /* Add space below the image */
}

.res-card > h3,
.res-card > h4 {
  margin: 4px 0; /* Add some spacing between each text */
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
}

.shimmer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, transparent 0%,#9AD0C2 50%, transparent 100%);
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.filter{
  display: flex;
}

.search-box,.search-btn{
 
  margin-top: 10px;
  padding: 10px;
  margin-left: 5px;
}

.res-menu-container{
  margin: auto;
  border: 1px solid black;

}

.res-menu-container ul {
  list-style-type: disc;
}


.user-card{
  padding: 10x;
  border: 1px solid black;
  margin:20px
}